# 1. Update changelog
# 2. Upload a Python Package using Twine

name: Release fosslight_binary

on:
  release:
    types: [published]

jobs:
  build:
    name: Build packages
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-18.04
            TARGET: ubuntu
            CMD_BUILD: >
                pyinstaller --onefile cli.py -n cli --hidden-import dependency-check --additional-hooks-dir=hooks &&
                mv dist/cli fosslight_bin_ubuntu18
            OUT_FILE_NAME: fosslight_bin_ubuntu18
            ASSET_MIME: application/octet-stream
          - os: macos-latest
            TARGET: macos
            CMD_BUILD: >
                pyinstaller --onefile cli.py -n cli --hidden-import dependency-check --additional-hooks-dir=hooks &&
                mv dist/cli fosslight_bin_macos
            OUT_FILE_NAME: fosslight_bin_macos
            ASSET_MIME: aapplication/x-mach-binary
          - os: windows-latest
            TARGET: windows
            CMD_BUILD: >
                pyinstaller --onefile cli.py -n cli --hidden-import dependency-check --additional-hooks-dir=hooks &&
                move dist/cli.exe fosslight_bin_windows.exe
            OUT_FILE_NAME: fosslight_bin_windows.exe
            ASSET_MIME: application/vnd.microsoft.portable-executable
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install pyinstaller
    - name: Build with pyinstaller for ${{matrix.TARGET}}
      run: ${{matrix.CMD_BUILD}}
    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./${{ matrix.OUT_FILE_NAME}}
        asset_name: ${{ matrix.OUT_FILE_NAME}}
        asset_content_type: ${{ matrix.ASSET_MIME}}

